---
pageable: true
per_page: 10
body_class: "body-transparentNav"
isIndex: true
header: "header"
---
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">GiveCamp</div>
      <div class="intro-heading text-uppercase">A Tsunami of Goodwill</div>      
    </div>
  </div>
</header>    

<section>
  <div class="container">    
    <h1>Mission</h1>
    <h1>Event Information</h1>
    <h1>Volunteer Signup</h1>
    <h1>Propose a Project</h1>
    <h1>Sponsors</h1>
    <h1>Impact</h1>
    <h1>Past Projects</h1>  
  </div>
</section>